/*

contentss style
cutomize nyo fonts
*/
.content-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 100px;
}
.overview-wrapper{
    width: 50%;
    height: auto;
    flex-wrap: wrap;
}
.overview-wrapper h6{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    background-color: gray;
    padding: 20px;
}

.overview-row .overview-col{
    
}


.overview-row .overview-col h2{
    width: 100%;
    height: 1.5em;
   background-color: rgba(107,22,225,255);
   text-align: center;
}
.overview-row .overview-col p{
   text-align: justify;
   font-size: 20px;
   padding: 10px;
 }
 /*information */
.info-wrapper{
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.info-wrapper .information .info-row .info-col h2{
    text-align: center;
}

.info-col p{
    text-align: justify;
}

.info-wrapper h1{
    font-size: 1.5rem;
}
/* poster*/
.posters-wrapper{
    width: 50%;
    height: auto;
    flex-wrap: wrap;
}
.poster-col h2{
    text-align: center;
}

.poster-col p{
    text-align: justify;
}

.carousel-wrapper{
    margin-top: 50px;
    width: 100%;
    height: 40em;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    z-index: 0;
    padding-left: 42px;
    padding-right: 42px;
}

/*
    contents
*/
.contents-container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-bottom: 20px;
    flex: 1;
    padding-left: 42px;
    padding-right: 42px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg); 
}

.carousel-indicators > [data-bs-target]{
    background-color: black;
}
.maincontent-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:aliceblue;
    overflow: auto;
    scroll-behavior: smooth;
}
.maincontent-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(54, 54, 71);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.maincontent-container::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.maincontent-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(54, 54, 71);
	background-color: rgba(54, 54, 71);
}

/*
    left and right btn
*/



.footer-container {
    flex-shrink: 0; 
    height: 55%; 
    background-color: rgb(54, 54, 71);
    color:aliceblue;
    width: 100%; 
    text-align: center; 
    padding: 1em; 
    position: relative; 
    bottom: 0;
    left: 0;
    margin-top: 100px;
    box-shadow: 0px -6px 4px -3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px -6px 4px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -6px 4px -3px rgba(0,0,0,0.3);
}

.footer-container h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}
/*
    footer
*/

.footer-container .home-footer{
    background: none;
}

.up-btn{
    color: white;
    
    font-size: 1.5rem;
}


.backtotop-wrapper {
    position: fixed;
    bottom: 30px;
    right: 50px;
    background-color: rgb(54, 54, 71);
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
    transition: outline 0.090s ease;
    cursor: pointer;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.backtotop-wrapper:hover {
    outline: solid 2px rgb(40, 42, 70);
    outline-offset: 2px;
    outline-style: dashed;
    background-color: rgb(40, 42, 70);
    animation: spin 3s linear infinite;
}


.spin-reverse:hover{
    
    animation: rev 3s linear infinite;
}
.spin-reverse{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*articles*/
.btn-1,
 .btn-2,
 .btn-3,
 .btn-4,
 .btn-5,
 .btn-6,
 .btn-7,
 .btn-8,
 .btn-9{
    transition: transform 0.5s ease;
 }
.btn-1:hover{
    transform: scale(0.9);
}
.btn-2:hover{
    transform: scale(0.9);
}
.btn-3:hover{
    transform: scale(0.9);
}
.btn-4:hover{
    transform: scale(0.9);
}
.btn-5:hover{
    transform: scale(0.9);
}
.btn-6:hover{
    transform: scale(0.9);
}
.btn-7:hover{
    transform: scale(0.9);
}
.btn-8:hover{
    transform: scale(0.9);
}
.btn-9:hover{
    transform: scale(0.9);
}
.Article1, .Article2, .Article3, .Article4,
.Article5, .Article6, .Article7, .Article8, .Article9{
    transition: all 0.3s ease-in-out;
}
.Article1:hover, .Article2:hover, .Article3:hover, .Article4:hover,
.Article5:hover, .Article6:hover, .Article7:hover, .Article8:hover, .Article9:hover{
    transform: translateY(-3px);
    box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.5);
}

@keyframes rev {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg); /* Reverse direction */
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); /* Clockwise direction */
    }
}

@media  (max-width: 700px) {

    .maincontent-container{
        margin-top: 0px;
    }
    .content-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .carousel-wrapper{
        

        
    }
    .carousel-slider .slider1 img{
        width: 200px;
        height: 300px;
        object-fit: contain;
        padding: 10px;
    }

    
}



